{
    "sources": {
        "c:\\temp\\sample": "https://url.com/sample.zip"
    },
    "container_commands": {
        "cmd000": {
            "command": "copy \".ebextensions\99app-commands.bat\" \"C:\Program Files\Amazon\ElasticBeanstalk\hooks\appdeploy\post\99app-commands.bat\" /y > NUL"
        }
    }
}