files:
   "c:\\temp\\task.bat":
      content: |
         powershell -Command "(new-object net.webclient).DownloadString(\"http://localhost/ping\")"
container_commands:
   "cmd001":
      command: schtasks /create /sc hourly /mo 1 /f /ru System /tn "MyTask" /tr "\"C:\temp\task.bat\""
      ignoreErrors: false
   "cmd0002":
      command: icacls "C:\inetpub\wwwroot\log" /grant IIS_IUSRS:(OI)(CI)F
      ignoreErrors: false